body {
   font-family: 'Arial', sans-serif;
  background-color: #2b2b2b;
  color: #ffffff;
  height: 100vh; /* Full screen height */
  margin: 0; /* Remove default margin */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-image: url('src/assets/background img02.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.form-container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.registration-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #ffffff;
}

.form-group input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #333;
  color: #fff;
}

.form-group input:focus {
  border-color: #1b9cfc;
  outline: none;
}

.submit-btn {
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #218838;
}

.form-group input::placeholder {
  color: #888;
}